.wrapper {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-1.5rem, 5.75rem);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 250px;
    background-color: #f4faff;
}

.wrapper.active {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #a1a1a1;

    h4 {
        margin: 0;
    }
}

.button {
    border: none;
    background-color: #f4faff;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
}

.titlebox {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.title {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

a:active {
    color: #a1a1a1;
}

a:visited {
    color: #a1a1a1;
}

.alarmList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    border: none;
    background-color: #f4faff;
    overflow: hidden;
    cursor: pointer;
}
