.loginContainer {
  background-color: #fffcf7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.safeArea {
  height: 40px;
}

.mainContent {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .logo {
    height: 55px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .cloud {
    width: 350px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  h1 {
    font-size: 35px;
    color: #3c3c3c;
    margin: 0px;
    font-weight: bold;
  }

  .brand {
    color: #5497ff;
  }

  .subtitle {
    font-size: 15px;
    color: #3c3c3c;
    margin-bottom: 150px;
  }
}

.bottomArea {
  width: 100%;
  text-align: center;
}

.kakaoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fee500;
  border: none;
  border-radius: 8px;
  padding: 14px 0;
  width: 100%;
  height: 65px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  user-select: none;
  margin-bottom: 32px;

  &:hover {
    background-color: #f5d500;
  }

  img {
    margin-right: 8px;
  }
}
