.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    h2 {
        margin: 0.35rem;
    }
}

.mapBox {
    position: relative;
    display: flex;
    flex-shrink: 1;
    border-radius: 8px;
    flex-grow: 1;

    .img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.mapButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.4rem;
    min-width: 280px;
    font-weight: 700;
    border: none;
    box-shadow: 0 8px 20px rgba(100, 156, 255, 0.35);
    border-radius: 8px;
    background-color: #5497ff;
    color: white;

    img {
        position: absolute;
        left: 10px;
    }
}

@media (max-height: 668px) {
    .mapBox {
        height: 100px;

        .img {
            object-fit: cover;
        }
    }
}
